## Task: 2.5 Advancecd Geospatial plotting

In [1]:
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS
import numpy as np
from matplotlib import pyplot as plt

In [3]:
path ='/Users/vickyczada/Library/CloudStorage/OneDrive-Personal/Documents/Career Foundry/Data Visualisation with Python/Achievement 2/New_York_Citi_Bikes_2022/NewYork_Bikes_data.csv'

In [5]:
# Obtaining citibikes dataset
df_merged = pd.read_csv(path, index_col = 0)

/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_4619/1475828544.py:2: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged = pd.read_csv(path, index_col = 0)

### Extra Cleaning Steps

In [6]:
df_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual,2022-08-27,27.8,both
1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual,2022-08-20,27.9,both
2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member,2022-08-31,25.6,both
3,3E8791885BC189D1,classic_bike,2022-08-02 08:05:00.250,2022-08-02 08:16:52.063,FDR Drive & E 35 St,6230.04,Grand Army Plaza & Central Park S,6839.1,40.744219,-73.971212,40.764397,-73.973715,member,2022-08-02,26.4,both
4,8DBCBF98885106CB,electric_bike,2022-08-25 15:44:48.386,2022-08-25 15:55:39.691,E 40 St & 5 Ave,6474.11,Ave A & E 14 St,5779.11,40.752052,-73.982115,40.730311,-73.980472,member,2022-08-25,28.1,both

In [7]:
df = df_merged.drop('_merge', axis=1)

In [8]:
df_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual,2022-08-27,27.8,both
1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual,2022-08-20,27.9,both
2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member,2022-08-31,25.6,both
3,3E8791885BC189D1,classic_bike,2022-08-02 08:05:00.250,2022-08-02 08:16:52.063,FDR Drive & E 35 St,6230.04,Grand Army Plaza & Central Park S,6839.1,40.744219,-73.971212,40.764397,-73.973715,member,2022-08-02,26.4,both
4,8DBCBF98885106CB,electric_bike,2022-08-25 15:44:48.386,2022-08-25 15:55:39.691,E 40 St & 5 Ave,6474.11,Ave A & E 14 St,5779.11,40.752052,-73.982115,40.730311,-73.980472,member,2022-08-25,28.1,both

In [12]:
df['date'] = pd.to_datetime(df['date'])

In [14]:
df_2022 = df[df['date'].dt.year == 2022]

In [15]:
df_2022.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp
0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual,2022-08-27,27.8
1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual,2022-08-20,27.9
2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member,2022-08-31,25.6
3,3E8791885BC189D1,classic_bike,2022-08-02 08:05:00.250,2022-08-02 08:16:52.063,FDR Drive & E 35 St,6230.04,Grand Army Plaza & Central Park S,6839.1,40.744219,-73.971212,40.764397,-73.973715,member,2022-08-02,26.4
4,8DBCBF98885106CB,electric_bike,2022-08-25 15:44:48.386,2022-08-25 15:55:39.691,E 40 St & 5 Ave,6474.11,Ave A & E 14 St,5779.11,40.752052,-73.982115,40.730311,-73.980472,member,2022-08-25,28.1

In [16]:
df_2022.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp
29838801,1F223EDAFF420AE3,electric_bike,2022-12-01 20:26:45.847,2022-12-01 20:30:46.012,Avenue D & E 3 St,5436.09,Stanton St & Chrystie St,5523.02,40.720701,-73.977939,40.722293,-73.991475,member,2022-12-01,5.7
29838802,CFA5C560ACB73B8E,classic_bike,2022-12-26 13:46:34.237,2022-12-26 13:52:43.900,43 Ave & 47 St,6209.05,39 Ave & 45 St,6401.03,40.744806,-73.917290,40.749478,-73.918265,member,2022-12-26,-4.7
29838803,11C8C5E0DB947B07,classic_bike,2022-12-01 05:56:14.903,2022-12-01 06:06:10.357,Avenue D & E 3 St,5436.09,Bleecker St & Crosby St,5679.08,40.720828,-73.977932,40.726156,-73.995102,member,2022-12-01,5.7
29838804,5B9B083C534A5964,classic_bike,2022-12-02 11:54:15.871,2022-12-02 12:01:00.747,Montague St & Clinton St,4677.06,Sands St & Jay St,4821.03,40.694271,-73.992327,40.700119,-73.986200,member,2022-12-02,3.4
29838805,91C286C462F89A50,classic_bike,2022-12-18 13:35:22.574,2022-12-18 13:37:27.193,Montague St & Clinton St,4677.06,Cadman Plaza E & Tillary St,4677.01,40.694271,-73.992327,40.695977,-73.990149,member,2022-12-18,3.1

In [17]:
unique_dates = df_2022['date'].unique()
print(unique_dates)

<DatetimeArray>
['2022-08-27 00:00:00', '2022-08-20 00:00:00', '2022-08-31 00:00:00',
 '2022-08-02 00:00:00', '2022-08-25 00:00:00', '2022-08-24 00:00:00',
 '2022-08-15 00:00:00', '2022-08-16 00:00:00', '2022-08-28 00:00:00',
 '2022-08-06 00:00:00',
 ...
 '2022-12-28 00:00:00', '2022-12-24 00:00:00', '2022-12-12 00:00:00',
 '2022-12-19 00:00:00', '2022-12-17 00:00:00', '2022-12-26 00:00:00',
 '2022-12-04 00:00:00', '2022-12-11 00:00:00', '2022-12-31 00:00:00',
 '2022-12-25 00:00:00']
Length: 365, dtype: datetime64[ns]

### Performing data consistency check

In [18]:
mask = (df_merged['start_station_id'] == 'Lab - NYC') | (df_merged['end_station_id'] == 'Lab-NYC')

# Applying the mask to filter the DataFrame
lab_nyc_data = df_merged[mask]

# Displaying the filtered DataFrame
print(lab_nyc_data[['start_station_id', 'end_station_id']])

         start_station_id end_station_id
1754355         Lab - NYC      Lab - NYC
7988631         Lab - NYC            NaN
8295619         Lab - NYC      Lab - NYC
8295620         Lab - NYC      Lab - NYC
8302149         Lab - NYC      Lab - NYC
...                   ...            ...
25523601        Lab - NYC      Lab - NYC
26285161        Lab - NYC            NaN
26408390        Lab - NYC      Lab - NYC
28299026        Lab - NYC      Lab - NYC
29075211        Lab - NYC            NaN

[73 rows x 2 columns]

To address data inconsistency, I identified that the columns 'start_station_id' and 'end_station_id' contain both numeric and non-numeric values, specifically the string 'Lab - NYC'. These non-numeric entries can compromise analysis accuracy and data integrity. 

After checking, I found there are 73 such rows across these columns. To maintain data consistency and ensure reliable analysis, I have decided to drop these rows, as including inconsistent entries could lead to errors or misleading results. This step helps preserve the overall quality of the dataset and ensures that subsequent analyses are based on clean, uniform data.

In [19]:
df_clean_1 = df_merged.drop(columns=['start_station_id', 'end_station_id'])

In [20]:
df_clean_1.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'end_station_name', 'start_lat', 'start_lng',
       'end_lat', 'end_lng', 'member_casual', 'date', 'avgTemp', '_merge'],
      dtype='object')

In [21]:
df_clean_1.shape

(29838806, 14)

#### Data Preprocessing

In [22]:
df_clean_1.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name       49
end_station_name      70092
start_lat                 0
start_lng                 0
end_lat               37392
end_lng               37392
member_casual             0
date                      0
avgTemp                 640
_merge                    0
dtype: int64

There are NaN values present in the columns 'start_station_name', 'end_station_name', 'start_lat', and 'start_lng'. To assess data completeness, I specifically checked whether the rows containing approximately 50 NaN values in 'start_station_name' also have NaN values in 'end_station_name'. Understanding whether these missing values coincide is important for data integrity, as it can influence how we handle missing data in subsequent analysis. If the NaNs align, it may suggest incomplete trip records, prompting us to consider dropping or imputing these rows to maintain data quality.

In [23]:
# Step 1: Filtering rows with missing 'start_station_name'
missing_start_stations = df_clean_1[df_clean_1['start_station_name'].isna()]

# Step 2: Checking if these rows also have missing 'end_station_name'
missing_start_and_end = missing_start_stations[missing_start_stations['end_station_name'].isna()]

# Print the result
print("Rows with missing start_station_name and end_station_name:", missing_start_and_end.shape[0])
print(missing_start_and_end[['start_station_name', 'end_station_name']])

Rows with missing start_station_name and end_station_name: 49
         start_station_name end_station_name
6009370                 NaN              NaN
6009371                 NaN              NaN
6286212                 NaN              NaN
6286213                 NaN              NaN
6286214                 NaN              NaN
6286215                 NaN              NaN
6286216                 NaN              NaN
6286392                 NaN              NaN
7978790                 NaN              NaN
7979796                 NaN              NaN
7979797                 NaN              NaN
7979798                 NaN              NaN
7979831                 NaN              NaN
9825136                 NaN              NaN
9825350                 NaN              NaN
14598428                NaN              NaN
16102492                NaN              NaN
16102499                NaN              NaN
16103110                NaN              NaN
16103652                NaN              NaN
27496515                NaN              NaN
27496517                NaN              NaN
27496643                NaN              NaN
27496660                NaN              NaN
27496673                NaN              NaN
27496695                NaN              NaN
27496812                NaN              NaN
27496839                NaN              NaN
27496910                NaN              NaN
27496915                NaN              NaN
27496940                NaN              NaN
27496979                NaN              NaN
27497046                NaN              NaN
27497077                NaN              NaN
27497096                NaN              NaN
27497102                NaN              NaN
27497128                NaN              NaN
27497264                NaN              NaN
27497302                NaN              NaN
27497303                NaN              NaN
27497329                NaN              NaN
27497341                NaN              NaN
27497366                NaN              NaN
27497371                NaN              NaN
27497374                NaN              NaN
27497381                NaN              NaN
27497516                NaN              NaN
27497542                NaN              NaN
27497563                NaN              NaN

Finding out the percentage of data containing NaN values, to decide if removing is good or not at this stage.

In [25]:
# Checking for missing values in any of the specified columns
missing_any = df_clean_1[['start_station_name', 'end_station_name', 'end_lat', 'end_lng']].isna().any(axis=1)

# Calculating the number of rows with missing values in any of the specified columns
total_missing = missing_any.sum()

# Calculating the total number of rows in the DataFrame
total_rows = df_clean_1.shape[0]

# Calculating the percentage of data loss
percent_total_data_loss = round((total_missing / total_rows) * 100, 2)

# Print the result
print(f"{percent_total_data_loss}% of total data loss if NaN rows in any of 'start_station_name', 'end_station_name', 'end_lat', 'end_lng'")

0.23% of total data loss if NaN rows in any of 'start_station_name', 'end_station_name', 'end_lat', 'end_lng'

Since the NaN values make up 0.23% of entire data,so, I am dropping these rows.

In [26]:
df_clean_2 = df_clean_1.dropna(subset=['start_station_name', 'end_station_name', 'end_lat', 'end_lng'])

In [27]:
df_clean_2.shape

(29768714, 14)

In [28]:
df_clean_2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3 St & Prospect Park West,40.663657,-73.963014,40.668132,-73.973638,casual,2022-08-27,27.8,both
1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,E 11 St & 1 Ave,40.717798,-73.993161,40.729538,-73.984267,casual,2022-08-20,27.9,both
2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,Grand St & Greene St,40.735354,-74.004831,40.721700,-74.002381,member,2022-08-31,25.6,both
3,3E8791885BC189D1,classic_bike,2022-08-02 08:05:00.250,2022-08-02 08:16:52.063,FDR Drive & E 35 St,Grand Army Plaza & Central Park S,40.744219,-73.971212,40.764397,-73.973715,member,2022-08-02,26.4,both
4,8DBCBF98885106CB,electric_bike,2022-08-25 15:44:48.386,2022-08-25 15:55:39.691,E 40 St & 5 Ave,Ave A & E 14 St,40.752052,-73.982115,40.730311,-73.980472,member,2022-08-25,28.1,both

In [29]:
# Creating a value column and group by start and end station 

df_clean_2['value'] = 1
# Group by all specified columns and count 'value'
# Group by start and end station names and count occurrences
df_stations = df_clean_2.groupby(['start_station_name', 'end_station_name'])['value'].count().reset_index()

/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_4619/2269729395.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_2['value'] = 1

In [30]:
df_stations.head()

  start_station_name  end_station_name  value
0   1 Ave & E 110 St  1 Ave & E 110 St    791
1   1 Ave & E 110 St   1 Ave & E 18 St      2
2   1 Ave & E 110 St   1 Ave & E 30 St      4
3   1 Ave & E 110 St   1 Ave & E 39 St      1
4   1 Ave & E 110 St   1 Ave & E 44 St     12

In [31]:
df_stations.shape

(1013422, 3)

### Start Station

In [32]:
start_name=df_stations[['start_station_name']]

In [33]:
start_name.head()

  start_station_name
0   1 Ave & E 110 St
1   1 Ave & E 110 St
2   1 Ave & E 110 St
3   1 Ave & E 110 St
4   1 Ave & E 110 St

In [34]:
start_name.shape

(1013422, 1)

In [35]:
start_name.drop_duplicates(inplace=True)

/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_4619/4040858919.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_name.drop_duplicates(inplace=True)

In [36]:
start_name.head()

     start_station_name
0      1 Ave & E 110 St
712     1 Ave & E 16 St
1646    1 Ave & E 18 St
2617    1 Ave & E 30 St
3539    1 Ave & E 39 St

In [37]:
start_name.shape

(1761, 1)

In [38]:
start_stations = df_clean_2[['start_station_name', 'start_lat', 'start_lng']]

In [39]:
start_stations.head()

         start_station_name  start_lat  start_lng
0  Flatbush Ave & Ocean Ave  40.663657 -73.963014
1    Forsyth St\t& Grand St  40.717798 -73.993161
2    Perry St & Bleecker St  40.735354 -74.004831
3       FDR Drive & E 35 St  40.744219 -73.971212
4           E 40 St & 5 Ave  40.752052 -73.982115

In [40]:
start_stations.shape

(29768714, 3)

In [41]:
start_stations.drop_duplicates(inplace=True)

/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_4619/2522370280.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_stations.drop_duplicates(inplace=True)

In [42]:
start_stations.shape

(4041501, 3)

In [43]:
start_name.shape

(1761, 1)

In [44]:
list_start_station = []

In [45]:
for i in range( len(start_name)):
    station_name = start_name.iloc[i]['start_station_name']
    if station_name in start_stations['start_station_name'].values:
        data = start_stations[start_stations['start_station_name'] == station_name]
        list_start_station.append(data)

In [46]:
start_station_data = pd.concat(list_start_station).reset_index(drop=True)

In [47]:
start_station_data.head()

  start_station_name  start_lat  start_lng
0   1 Ave & E 110 St  40.792337 -73.938240
1   1 Ave & E 110 St  40.792438 -73.938265
2   1 Ave & E 110 St  40.792436 -73.938177
3   1 Ave & E 110 St  40.792327 -73.938300
4   1 Ave & E 110 St  40.792413 -73.938243

In [48]:
start_station_data.drop_duplicates(subset=['start_station_name'], inplace=True)

In [49]:
start_station_data = start_station_data.reset_index(drop=True)

In [50]:
start_station_data.head()

  start_station_name  start_lat  start_lng
0   1 Ave & E 110 St  40.792337 -73.938240
1    1 Ave & E 16 St  40.732219 -73.981656
2    1 Ave & E 18 St  40.733812 -73.980544
3    1 Ave & E 30 St  40.741549 -73.975329
4    1 Ave & E 39 St  40.747140 -73.971130

In [51]:
# Merging start station data with aggregated group by data which contains value counts of station trips.

df_dummy = df_stations.merge(start_station_data, left_on='start_station_name', right_on='start_station_name', how='left')

In [52]:
df_dummy.head()

  start_station_name  end_station_name  value  start_lat  start_lng
0   1 Ave & E 110 St  1 Ave & E 110 St    791  40.792337  -73.93824
1   1 Ave & E 110 St   1 Ave & E 18 St      2  40.792337  -73.93824
2   1 Ave & E 110 St   1 Ave & E 30 St      4  40.792337  -73.93824
3   1 Ave & E 110 St   1 Ave & E 39 St      1  40.792337  -73.93824
4   1 Ave & E 110 St   1 Ave & E 44 St     12  40.792337  -73.93824

### End Station

In [53]:
end_name=df_stations[['end_station_name']]

In [54]:
end_name.head()

   end_station_name
0  1 Ave & E 110 St
1   1 Ave & E 18 St
2   1 Ave & E 30 St
3   1 Ave & E 39 St
4   1 Ave & E 44 St

In [55]:
end_name.shape

(1013422, 1)

In [56]:
end_name.drop_duplicates(inplace=True)

/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_4619/2336912990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_name.drop_duplicates(inplace=True)

In [57]:
end_name.head()

   end_station_name
0  1 Ave & E 110 St
1   1 Ave & E 18 St
2   1 Ave & E 30 St
3   1 Ave & E 39 St
4   1 Ave & E 44 St

In [58]:
end_name.shape

(1841, 1)

In [59]:
end_stations = df_clean_2[['end_station_name', 'end_lat', 'end_lng']]

In [60]:
end_stations.head()

                    end_station_name    end_lat    end_lng
0          3 St & Prospect Park West  40.668132 -73.973638
1                    E 11 St & 1 Ave  40.729538 -73.984267
2               Grand St & Greene St  40.721700 -74.002381
3  Grand Army Plaza & Central Park S  40.764397 -73.973715
4                    Ave A & E 14 St  40.730311 -73.980472

In [61]:
end_stations.shape

(29768714, 3)

In [62]:
end_stations.drop_duplicates(inplace=True)

/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_4619/886549750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_stations.drop_duplicates(inplace=True)

In [63]:
end_stations.shape

(2698, 3)

In [64]:
end_name.shape

(1841, 1)

In [65]:
list_end_station = []

In [66]:
for i in range( len(end_name)):
    station_name = end_name.iloc[i]['end_station_name']
    if station_name in end_stations['end_station_name'].values:
        data = end_stations[end_stations['end_station_name'] == station_name]
        list_end_station.append(data)

In [67]:
end_station_data = pd.concat(list_end_station).reset_index(drop=True)

In [68]:
end_station_data.head()

   end_station_name    end_lat    end_lng
0  1 Ave & E 110 St  40.792327 -73.938300
1  1 Ave & E 110 St  40.792327 -73.938300
2   1 Ave & E 18 St  40.733812 -73.980544
3   1 Ave & E 18 St  40.733812 -73.980544
4   1 Ave & E 30 St  40.741444 -73.975361

I merged the start and end station data to create a final DataFrame containing station names, latitudes, longitudes, and usage counts for comprehensive spatial and usage analysis.

In [69]:
df_final_station_data = df_dummy.merge(end_station_data, left_on='end_station_name', right_on='end_station_name', how='left')

In [70]:
df_final_station_data

,start_station_name,end_station_name,value,start_lat,start_lng,end_lat,end_lng
0,1 Ave & E 110 St,1 Ave & E 110 St,791,40.792337,-73.938240,40.792327,-73.938300
1,1 Ave & E 110 St,1 Ave & E 110 St,791,40.792337,-73.938240,40.792327,-73.938300
2,1 Ave & E 110 St,1 Ave & E 18 St,2,40.792337,-73.938240,40.733812,-73.980544
3,1 Ave & E 110 St,1 Ave & E 18 St,2,40.792337,-73.938240,40.733812,-73.980544
4,1 Ave & E 110 St,1 Ave & E 30 St,4,40.792337,-73.938240,40.741444,-73.975361
...,...,...,...,...,...,...,...
1622164,Yankee Ferry Terminal,West St & Liberty St,4,40.687066,-74.016756,40.711444,-74.014847
1622165,Yankee Ferry Terminal,West Thames St,1,40.687066,-74.016756,40.708347,-74.017134
1622166,Yankee Ferry Terminal,West Thames St,1,40.687066,-74.016756,40.708347,-74.017134
1622167,Yankee Ferry Terminal,Yankee Ferry Terminal,5759,40.687066,-74.016756,40.687066,-74.016756
1622168,Yankee Ferry Terminal,Yankee Ferry Terminal,5759,40.687066,-74.016756,40.687066,-74.016756

In [71]:
df_final_station_data.rename(columns = {'value': 'trips'}, inplace = True)

In [72]:
df_final_station_data.to_csv('df_final_locations_for_map.csv')

### Initializing an instance of a kepler.gl map

In [74]:
m = KeplerGl(height = 700, data={"data_1":df_final_station_data })

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [75]:
m

KeplerGl(data={'data_1':             start_station_name       end_station_name  trips  start_lat  \
0

#### Customizing the Map

I adjusted the color palette to effectively highlight where most trips originate and terminate, enhancing visual appeal and making interpretation more intuitive.
By expanding the layers, I selected a striking yet neutral color for start points, and similarly adjusted the end points to a matching, subdued tone for clarity.
To illustrate trip connections, I chose the start-to-end arc option, which displays lines indicating trips between stations.

#### Adding Filters to Identify Key Trips  

To identify the most common trips in New York City, I navigated to the Filters icon and added a filter based on the trips column.
The visualized trips on the map significantly decrease as the slider moves right, but hovering over the lines reveals start/end station names and total trip counts.
Initially, data points were overly dense, but filtering makes it easier to pinpoint popular cycling routes, while rare trips and outliers are filtered out, highlighting stations prone to shortages.
Closer analysis reveals that stations like Central Park S & 6 Ave and 7 Ave & Central Park South are extremely popular.
A quick Google search confirms these stations are near key attractions such as the American Museum of Natural History, Museum of Modern Art, Empire State Building, and Museum of the City of New York, which are major destinations.

### Creating a config object and saving the map with it

In [76]:
config = m.config

In [77]:
import json
with open("nyc_map.json", "w") as outfile:
    json.dump(config, outfile)

In [78]:
m.save_to_html(file_name = 'NewYork Citi Bike Trips Aggregated2.html', read_only = False, config = config)

Map saved to NewYork Citi Bike Trips Aggregated2.html!