### Ex-2.5 Advancecd Geospatial plotting-Reduced data for Keplermap

In [1]:
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df_final_station_data = pd.read_csv('df_final_locations_for_map.csv',index_col = 0)

In [3]:
np.random.seed(32)

# Sample 40% of the data
red_40 = np.random.rand(len(df_final_station_data)) < 0.40
small_2 = df_final_station_data[red_40]
small_2.to_csv('reduced_data_to_plot_2.csv', index=False)

# Sample 20% of the data
np.random.seed(32)
red_20 = np.random.rand(len(df_final_station_data)) < 0.20
small_3 = df_final_station_data[red_20]
small_3.to_csv('reduced_data_to_plot_3.csv', index=False)

# Check the file size of the sampled data
file_path = 'reduced_data_to_plot_3.csv'
file_size = os.path.getsize(file_path)
file_size_mb = file_size / (1024 * 1024)
print(f"File size: {file_size_mb:.2f} MB")

File size: 29.35 MB

In [4]:
target_file_size_mb = 24.5
current_file_size_mb_20 = 29.51  # This should match the actual size of 'reduced_data_to_plot_3.csv'
current_sampling_fraction = 0.20  # This is the original sampling fraction used

# Calculate the new sampling fraction to target the desired file size
sample_fraction = (target_file_size_mb / current_file_size_mb_20) * current_sampling_fraction

# Set the random seed for reproducibility
np.random.seed(32)

# Sample the data based on the calculated sample fraction
red_target = np.random.rand(len(df_final_station_data)) < sample_fraction
smallest_dataset = df_final_station_data[red_target]

# Save the smaller sample to a CSV file with a new name
smallest_dataset.to_csv('map_plot.csv', index=False)

# Verifying the file size
file_size = os.path.getsize('map_plot.csv')
file_size_mb = file_size / (1024 * 1024)
print(f"File size (target sample): {file_size_mb:.2f} MB")

File size (target sample): 24.33 MB

In [5]:
file_path = 'map_plot.csv'

# Get the file size in bytes
file_size = os.path.getsize(file_path)

# Convert the file size to megabytes
file_size_mb = file_size / (1024 * 1024)

print(f"File size: {file_size_mb:.2f} MB")

File size: 24.33 MB

In [6]:
smallest_dataset.head()

,start_station_name,end_station_name,trips,start_lat,start_lng,end_lat,end_lng
6,1 Ave & E 110 St,1 Ave & E 39 St,1,40.792337,-73.93824,40.747140,-73.971130
10,1 Ave & E 110 St,1 Ave & E 6 St,1,40.792337,-73.93824,40.726331,-73.986169
17,1 Ave & E 110 St,1 Ave & E 94 St,224,40.792337,-73.93824,40.781721,-73.945940
21,1 Ave & E 110 St,10 Ave & W 215 St,1,40.792337,-73.93824,40.869325,-73.915198
26,1 Ave & E 110 St,11 Ave & W 41 St,5,40.792337,-73.93824,40.760301,-73.998842

In [7]:
df_reduced = pd.read_csv('map_plot.csv')

# Create a Kepler map with the reduced data
map_ = KeplerGl(height=700, data={"data_1": df_reduced})

# Save the Kepler map as an HTML file
map_.save_to_html(file_name='kepler_map_reduced.html')

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter
Map saved to kepler_map_reduced.html!

In [8]:
map_

KeplerGl(data={'data_1':            start_station_name          end_station_name  trips  start_lat  \
0       â€¦

In [11]:
map_.save_to_html(file_name='NewYork_CitiBike_Trips.html', read_only = False, config = config)

Map saved to NewYork_CitiBike_Trips.html!

In [10]:
# Define the config variable before using it
config = {'scrollWheelZoom': True}  # Example configuration - adjust as needed

# Now use the config variable in the save_to_html function
map_.save_to_html(file_name='NewYork_CitiBike_Trips.html', read_only=False, config=config)

Map saved to NewYork_CitiBike_Trips.html!

In [12]:
import json
with open("config.json", "w") as outfile:
    json.dump(config, outfile)